body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 300px;
  margin: 0;
}
#main {
  width: 100%
}
.button{
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  background-color: #f8f8f8;
}
.button img{
  max-width: 80px;
  max-height: 80px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
